@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Vidaloka&display=swap');
@font-face{
  font-family: 'garlicha';
  src: url('./assets/fonts/garlicha/Garlicha.otf') format('opentype'),
       url('./assets/fonts/garlicha/Garlicha.ttf') format('truetype'),
}
@font-face {
  font-family: 'quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/quicksand/Quicksand.otf') format('opentype')
}
@font-face {
  font-family: 'analogue';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/analogue/TrueType/AnalogueRed-55Regular.ttf') format('truetype'),
        url('./assets/fonts/analogue/PostScript/AnalogueRed-55Regular.otf') format('opentype');
}
@font-face {
  font-family: 'andada';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/andada/Andada-Regular.otf') format('opentype'),
}
@font-face {
  font-family: 'adine';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/adine/adinekir.ttf') format('truetype'),
}
.garlicha {
  font-family: 'garlicha';
  font-weight: normal;
  font-style: normal;
}
.analogue {
  font-family: 'analogue';
  font-weight: normal;
  font-style: normal;
}
.quicksand {
  font-family: 'quicksand';
  font-weight: normal;
  font-style: normal;
}
.vidaloka {
  font-family: "Vidaloka", serif;
  font-weight: normal ;
  font-style: normal;
}
.andada {
  font-family: 'andada';
  font-weight: normal;
  font-style: normal;
}
.adine {
  font-family: 'adine';
  font-weight: normal;
  font-style: normal;
}
.cormorantG{
  font-family: 'Cormorant Garamond', serif;
  font-weight: normal;
  font-style: normal;
}
