.wish {
    background-image: url('../../assets/wish.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.wish::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: rgba(214, 246, 249, 0.25);
}
